:root {
  --primary: #57aace;
  --secundary: #434547;
  --primary-dark: #4aa5cd;

  --text-primary: #fff;
  --text-secundary: #b6b6b6;

  --bg-primary: #f8f8f8;
  --bg_secundary: #e00106;
  --bg-terteary: #343a40;

  --tertiary: #fff;
  --success: green;
  --alert: red;
  --light: #ccc;
  --superlight: #fff;
  --dark: black;
}
