$primary: #57AACE;
$secundary: #434547;

$text-primary: #FFF;
$text-secundary: #B6B6B6;

$bg-primary:#F8F8F8;
$bg_secundary: #E00106;
$bg-terteary:#343A40;



$tertiary: #FFF;
$success: green;
$alert: red;
$light: #CCC;
$superlight: #FFF;
$dark: black;

