---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Industrias Mar y Sol | 404" description="Página web no encontrada" keywords="">
  <section class="errorpage">
    <p>Página web no encontrada</p>
  </section>
</Layout>

<style>
    .errorpage{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        height: 20rem;
    }
</style>
