---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Industrias Mar y Sol | Nosotros"
  description="Industría Ecuatoriana localizada en Santa Helena que provee productos de limpieza para el hogar, empresa y autos."
>
  <section class="page mt-32 px-4 md:px-16 pb-16 text-eight">
    <ul
      class="grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-8 justify-center items-center"
    >
      <li class="p-8">
        <h2 class="text-5xl font-semibold my-4">Misión</h2>

        <p class="leading-8">
          Industrias Mar y Sol S.A. fabrica productos de limpieza de excelente
          calidad y precios competitivos que benefician la salud y el bienestar
          de nuestros consumidores. Para lograr esto, utilizamos materia prima
          de de primera clase utilizada en un proceso de producción que sigue un
          estricto control de calidad por parte de nuestro experimentado equipo
          de empleados.
        </p>
      </li>

      <li class="p-8">
        <img
          src="/images/mision.jpg"
          alt="Misión de Industrial Mar y Sol"
          title="Misión de Industrial Mar y Sol"
          class="rounded-xl"
          decoding="async"
          loading="lazy"
        />
      </li>

      <li class="p-8">
        <img
          src="/images/vision.jpg"
          alt="Visión de Industrial Mar y Sol"
          title="Visión de Industrial Mar y Sol"
          class="rounded-xl"
          decoding="async"
          loading="lazy"
        />
      </li>

      <li class="p-8">
        <h2 class="font-semibold text-5xl my-4">Visión</h2>

        <p class="leading-8">
          Nuestro reto es consolidarnos como la marca de confianza de los
          ecuatorianos por lo cual trabajamos para que que todos los hogares y
          empresas del pais cuenten con al menos uno de nuestros productos en su
          provision de elementos de aseo.
        </p>
        <p class="leading-8">
          Para ser la empresa lider en el mercado nos distinguiremos por nuestra
          innovacion y adaptacion a los grandes desafios del mercado en la
          region.
        </p>
      </li>
    </ul>
  </section>
</Layout>
