---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Industrias Mar y Sol">
<ul class="mt-16 grid grid-flow-row grid-cols-4 gap-8 p-16">
    <li class="bg-one size-full"> one</li>
    <li class="bg-two">two</li>
    <li class="bg-three">three</li>
    <li class="bg-four">four</li>
    <li class="bg-five">five</li>
    <li class="bg-six">six</li>
    <li class="bg-seven">seven</li>
    <li class="bg-eight">eight</li>
    <li class="bg-nine">nine</li>
    <li class="bg-ten">ten</li>
    <li class="bg-eleven">eleven</li>
    <li class="bg-twelve">twelve</li>
</ul>
</Layout>