---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Industrias Mar y Sol | Productos" description="Industrias Mar y Sol provee de los productos de limpieza que no pueden faltar en el hogar y empresa, tales como limpiadores, desinfectantes, quitamanchas y desengrasantes. Ademas tenemos una línea de productos de limpieza para autos tales como desengrasantes y Shampoo">
  <section class="page mt-32 px-4 md:px-24 pb-16">
    <h2 class="font-bold text-5xl mb-16 text-center text-eight">
      Nuestros productos
    </h2>

    <ul class="grid grid-flow-row grid-cols-1 md:grid-cols-3 gap-16 mb-4">
      <li class="rounded shadow-md" title="Ácido saca-sarro Chelox">
        <img
          src="/images/products/acido-nitrico-chelox.png"
          class="rounded-t-lg"
          alt="Ácido saca-sarro Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">&Aacute;cido nítrico</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Ácido saca-sarro Chelox">
        <img
          src="/images/products/acido-sacasarro-chelox.png"
          class="rounded-t-lg"
          alt="Ácido saca-sarro Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">&Aacute;cido sacasarro</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Alcohol antibacterial Chelox">
        <img
          src="/images/products/alcohol-antibacterial-chelox.png"
          class="rounded-t-lg"
          alt="Alcohol antibacterial Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Alcohol antibacterial</h3>
          <p class="font-light text-sm mb-2">
            Presentaciones: caneca, galón y litro, 500ml y sachet 280ml.
          </p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Jabón de tocador Chelox">
        <img
          class="rounded-t-lg"
          src="/images/products/jabon-chelox.png"
          alt="Jabón de tocador Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Jabón de tocador</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Cloro Chelox">
        <img
          src="/images/products/cloro-chelox.png"
          class="rounded-t-lg"
          alt="Cloro Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Cloro</h3>
          <p class="font-light text-sm mb-2">
            Presentaciones: galón, botella 1000ml, botella 500ml y sachet 280ml.
          </p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Desifectante Chelox">
        <img
          src="/images/products/desifectante-chelox.png"
          class="rounded-t-lg"
          alt="Desifectante Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Desinfectante</h3>
          <p class="font-light text-sm">
            Fragancias: lavanda, floral, manzana, canela, fresa, hawai, baby y
            eucalipto.
          </p>
          <p class="font-light text-sm mb-2">
            Presentaciones: caneca, galón, botella 1000ml, botella 500ml y
            sachet 250ml
          </p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Detergente líquido Chelox">
        <img
          src="/images/products/detergente-liquido-chelox.png"
          class="rounded-t-lg"
          alt="Detergente Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Detergente líquido</h3>
          <p class="font-light text-sm mb-2">
            Presentaciones: caneca, galón, botella 1000ml, botella 500ml y
            sachet 280ml
          </p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Sampoo para autos Chelox">
        <img
          src="/images/products/shampoo-autos-chelox.png"
          class="rounded-t-lg"
          alt="Sampoo y desengrasante Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Shampoo para autos Chelox</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Brillo silicona Chelox">
        <img
          src="/images/products/brillo-silicona-chelox.png"
          class="rounded-t-lg"
          alt="Brillo silicona Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Brillo silicona Chelox</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Suavizante Chelox">
        <img
          src="/images/products/suavizante.png"
          class="rounded-t-lg"
          alt="Suavizante Chelox"
          decoding="async"
          loading="lazy"
        />

        <div class="p-4">
          <h3 class="font-semibold">Suavizante</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </div>
      </li>

      <li class="rounded shadow-md" title="Brillo llantas Chelox">
        <img
          src="/images/products/brillo-llantas-chelox.png"
          class="rounded-t-lg"
          alt="Brillo llantas Chelox"
          decoding="async"
          loading="lazy"
        />

        <div class="p-4">
          <h3 class="font-semibold">Brillo llantas</h3>
          <p class="font-light text-sm mb-2"></p>
          <p class="font-light text-xs text-two">
            Comun&iacute;quese con nosotros para mayor informaci&oacute;n
          </p>
        </div>
      </li>
    </ul>
  </section>
</Layout>
