---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Industrias Mar y Sol | Productos">
  <section class="page mt-36 px-4 md:px-16 pb-16">
    <h2 class="font-bold text-3xl my-8 text-center text-eight">Nuestros products</h2>

    <ul class="grid grid-flow-row grid-cols-1 md:grid-cols-3 gap-10 mb-4">
      <li class="rounded shadow-md" title="Ácido saca-sarro Chelox">
        <img
          src="/industriasmarysol/images/products/ACIDOS.jpg"
          class="rounded-t-lg"
          alt="Ácido saca-sarro Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">&Aacute;cido sacasarro</h3>
          <p class="font-light">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <p class="font-light">
            <small class=""
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Brillo silicona Chelox">
        <img
          src="/industriasmarysol/images/products/BRILLOS.jpg"
          class="rounded-t-lg"
          alt="Brillo silicona Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Brillo silicona</h3>

          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Cloro Chelox">
        <img
          src="/industriasmarysol/images/products/CLORO.jpg"
          class="rounded-t-lg"
          alt="Cloro Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Cloro</h3>
          <p class="font-light"></p>
          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Desifectante Chelox">
        <img
          src="/industriasmarysol/images/products/DESINFECTANTE.jpg"
          class="rounded-t-lg"
          alt="Desifectante Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Desinfectante</h3>
          <p class="font-light"></p>
          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Detergente Chelox">
        <img
          src="/industriasmarysol/images/products/DETERGENTE.jpg"
          class="rounded-t-lg"
          alt="Detergente Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Detergente</h3>
          <p class="font-light"></p>
          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Gel desinfectante Chelox">
        <img
          class="rounded-t-lg"
          src="/industriasmarysol/images/products/GELYJABON.jpg"
          alt="Gel desinfectante Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Gel y jabon</h3>
          <p class="font-light"></p>
          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Sampoo y desengrasante Chelox">
        <img
          src="/industriasmarysol/images/products/SHAMPOOYDESENGRASANTE.jpg"
          class="rounded-t-lg"
          alt="Sampoo y desengrasante Chelox"
          decoding="async"
          loading="lazy"
        />

        <section class="p-4">
          <h3 class="font-semibold">Shampoo desengrasante Chelox</h3>
          <p class="font-light"></p>
          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </section>
      </li>

      <li class="rounded shadow-md" title="Suavizante Chelox">
        <img
          src="/industriasmarysol/images/products/SUAVIZANTE.jpg"
          class="rounded-t-lg"
          alt="Suavizante Chelox"
          decoding="async"
          loading="lazy"
        />

        <div class="p-4">
          <h3 class="font-semibold">Suavizante</h3>
          <p class="font-light"></p>
          <p class="font-light">
            <small class="text-muted"
              >Comun&iacute;quese con nosotros para mayor informaci&oacute;n</small
            >
          </p>
        </div>
      </li>
    </ul>
  </section>
</Layout>
