 
.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 10rem;
    margin: .5rem;
    border: 1px var(--text-secundary )solid;
    background-color: var(--text-primary);
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.card-text {
    color:#434547;
}
  
.card-header {
    background-color: #57AACE;
}

.card-group{
    width: 70%;
}

.card-title-solid{
    color: white;
}

.card-body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-body-solid{
    background-color: #0049A7;
    background-color: #57AACE;
}

h3.card-text{
    color: #434547;
}





/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
     
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
     
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
     
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .card {
        flex: 1 1 30rem;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .card {
        flex: 1 1 30rem;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .card {
        flex: 1 1 30rem;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .card {
        flex: 1 1 30rem;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
     
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
     
}