<section class="flex flex-wrap justify-center items-center bg-[#fff] py-16 gap-16  text-one">
  <article class="">
    <img
      src="/industriasmarysol/images/brand.png"
      alt="Chelox Brand"
      title="Chelox Brand"
      class="size-48"
    />
  </article>
  <article class="bg-six w-full">
    <p class="leading-loose p-16 ">
      Chelox es una marca registrada de productos de aseo para el hogar y
      vehículos, desarrollada y comercializada por Industrias Mar y Sol. Esta
      marca se distingue por su compromiso con la calidad, la eficacia y la
      innovación en el cuidado y limpieza tanto de los espacios interiores del
      hogar como de los vehículos.
    </p>
  </article>
</section>
