<div class="my-6 md:my-16 m-2 md:px-12 grid grid-flow-row grid-cols-1 justify-center bg-categorias  bg-cover bg-center">
  <div class="mb-8">
    <h2 class="text-eight font-extrabold text-center text-xl">Línea Institucional</h2>

    <ul class="p-4 mt-2 md:mt-4 grid grid-flow-row grid-cols-2 md:grid-cols-3 text-ten">
      <li class="p-1 text-sm md:text-base ">Ácido Nítrico</li>
      <li class="p-1 text-sm md:text-base">Ácido Saca Sarro</li>
      <li class="p-1 text-sm md:text-base">Cloro Gel</li>
      <li class="p-1 text-sm md:text-base">Desengrasante Doméstico</li>
      <li class="p-1 text-sm md:text-base">Desengrasante Industrial</li>
      <li class="p-1 text-sm md:text-base">Detergente Líquido</li>
      <li class="p-1 text-sm md:text-base">Desinfectantes</li>
      <li class="p-1 text-sm md:text-base">Gel desinfectante</li>
      <li class="p-1 text-sm md:text-base">Jabon liquido manos</li>
      <li class="p-1 text-sm md:text-base">Limpia vidrios</li>
      <li class="p-1 text-sm md:text-base">Peróxido</li>
      <li class="p-1 text-sm md:text-base">Suavizantes</li>
    </ul>
  </div>

  <div class="mb-8">
    <h2 class="text-eight font-extrabold text-center text-xl">Línea Hogar</h2>

    <ul class="p-4 md:mt-4 grid grid-flow-row grid-cols-2 md:grid-cols-3 text-ten">
      <li class="p-1 text-sm md:text-base">Cloro</li>
      <li class="p-1 text-sm md:text-base">Desinfectantes</li>
      <li class="p-1 text-sm md:text-base">Suavizantes</li>
      <li class="p-1 text-sm md:text-base">Detergente Líquido</li>
      <li class="p-1 text-sm md:text-base">Limpia vidrios</li>
      <li class="p-1 text-sm md:text-base">Ácido Saca Sarro</li>
      <li class="p-1 text-sm md:text-base">Ácido Nítrico</li>
      <li class="p-1 text-sm md:text-base">Peróxido</li>
      <li class="p-1 text-sm md:text-base">Cloro Gel</li>
      <li class="p-1 text-sm md:text-base">Desengrasante Doméstico</li>
    </ul>
  </div>

  <div class="mb-8">
    <h2 class="text-eight font-extrabold text-center text-xl">Línea Automotriz</h2>

    <ul class="p-4 md:mt-4 grid grid-flow-row grid-cols-2 md:grid-cols-3 text-ten">
      <li class="p-1 text-sm md:text-base">Shampoo para autos</li>
      <li class="p-1 text-sm md:text-base">Abrillantador de Paneles</li>
      <li class="p-1 text-sm md:text-base">Abrillantador de llanta</li>
      <li class="p-1 text-sm md:text-base">Desengrasante Plus</li>
      <li class="p-1 text-sm md:text-base">Grafito liquido</li>
    </ul>
  </div>
</div>
