<footer class="bg-eight text-one pt-16 pb-8 px-8 md:px-14 text-sm">
  <ul class="grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-4" data-attr="nav">
    <li class="flex gap-4 py-2 ">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
          clip-rule="evenodd"></path>
      </svg>
      <p class="flex items-center">(+593) 096 855 6501</p>
    </li>
    <li class="flex gap-4 py-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          clip-rule="evenodd"></path>
      </svg>
      <p class="flex items-center">Lunes a sábado</p>
      
    </li>
    <li class="flex gap-4 py-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
        ></path>
        <path
          d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
        ></path>
      </svg>
      <p class="flex items-center">
        <a href="mailto:indusmarsa@hotmail.com">Email</a></p>
    </li>
    <li class="flex gap-4 py-2">
      <svg
        fill="currentColor"
        class="w-6 h-6"
        version="1.1"
        id="_x32_"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
      >
        <g>
          <path
            d="M58.431,384.739h18.756c29.418,0,53.27-23.852,53.27-53.27V206.638c0-29.418-23.852-53.27-53.27-53.27H58.431
		c-29.418,0-53.269,23.852-53.269,53.27v124.831C5.161,360.887,29.012,384.739,58.431,384.739z"
          ></path>
          <path
            d="M453.526,172.682V89.007L364.501,0h-5.559H156.405v171.442v24.008v26.849v87.259v21.91
		c0,44.181-35.938,80.119-80.119,80.119H57.53c-20.023,0-38.306-7.429-52.369-19.621v54.074c0,36.428,29.532,65.96,65.96,65.96
		h369.758c36.428,0,65.96-29.532,65.96-65.96V237.402C506.839,205.309,483.896,178.582,453.526,172.682z M183.254,26.849h170.13
		l1.373,1.372v71.065h71.081l0.84,0.838v71.318H183.254V26.849z M235.037,430.387c-9.605,0-17.393-7.788-17.393-17.392
		s7.788-17.401,17.393-17.401c9.606,0,17.401,7.796,17.401,17.401S244.643,430.387,235.037,430.387z M235.037,373.692
		c-9.605,0-17.393-7.787-17.393-17.393c0-9.605,7.788-17.401,17.393-17.401c9.606,0,17.401,7.796,17.401,17.401
		C252.438,365.904,244.643,373.692,235.037,373.692z M235.037,317.013c-9.605,0-17.393-7.787-17.393-17.392
		c0-9.605,7.788-17.401,17.393-17.401c9.606,0,17.401,7.796,17.401,17.401C252.438,309.226,244.643,317.013,235.037,317.013z
		 M324.543,430.387c-9.606,0-17.393-7.788-17.393-17.392s7.787-17.401,17.393-17.401c9.605,0,17.401,7.796,17.401,17.401
		S334.147,430.387,324.543,430.387z M324.543,373.692c-9.606,0-17.393-7.787-17.393-17.393c0-9.605,7.787-17.401,17.393-17.401
		c9.605,0,17.401,7.796,17.401,17.401C341.943,365.904,334.147,373.692,324.543,373.692z M324.543,317.013
		c-9.606,0-17.393-7.787-17.393-17.392c0-9.605,7.787-17.401,17.393-17.401c9.605,0,17.401,7.796,17.401,17.401
		C341.943,309.226,334.147,317.013,324.543,317.013z M414.048,430.387c-9.606,0-17.393-7.788-17.393-17.392
		s7.787-17.401,17.393-17.401c9.614,0,17.4,7.796,17.4,17.401S423.662,430.387,414.048,430.387z M414.048,373.692
		c-9.606,0-17.393-7.787-17.393-17.393c0-9.605,7.787-17.401,17.393-17.401c9.614,0,17.4,7.796,17.4,17.401
		C431.449,365.904,423.662,373.692,414.048,373.692z M414.048,317.013c-9.606,0-17.393-7.787-17.393-17.392
		c0-9.605,7.787-17.401,17.393-17.401c9.614,0,17.4,7.796,17.4,17.401C431.449,309.226,423.662,317.013,414.048,317.013z
		 M414.921,255.878H235.929c-9.885,0-17.899-8.014-17.899-17.9c0-9.885,8.014-17.899,17.899-17.899h178.993
		c9.885,0,17.899,8.014,17.899,17.899C432.821,247.863,424.806,255.878,414.921,255.878z"
          ></path>
        </g>
      </svg>
      <p class="flex items-center">+593 096 855 6501</p>
    </li>
    <li class="flex gap-4 py-2" data-attr="nav">
      <a
        href="https://web.facebook.com/Industrias-Mar-Y-Sol-SA-165692880302017/"
        target="_blank"
        rel="noopener noreferrer"
        title="Facebook Industrias Mar y Sol"
        aria-label="Facebook Industrias Mar y Sol"
      >
        <svg
          fill="currentColor"
          class="w-6 h-6"
          height="800px"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"
          ></path></svg
        ></a
      >

      <div class="flex items-center "><a href="https://web.facebook.com/Industrias-Mar-Y-Sol-SA-165692880302017/" target="_blank" data-attr="nav">Visítanos en Facebook</a></div>
    </li>
    <li class="flex gap-4 py-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
          clip-rule="evenodd"></path>
      </svg>
      <p class="flex items-center">
        Avda calle 45/46 barrio amantes de sumpa, Santa Elena, Ecuador.
      </p>
    </li>
  </ul>

  <p class="flex justify-center align-middle mt-14 font-extralight text-xs">&copy; 2024 Industrias Mar y sol, Santa Elena, Ecuador</p>
</footer>
