---
import Nav from "./nav.astro";
---

<header class="fixed top-0 w-full bg-six z-10">
  <div class="flex justify-between items-center py-4 px-4 md:px-16">
    <div class="flex gap-4 items-center">
      <img src="/images/logoims.png" alt="" class="w-12 h-12 rounded-full">
      
      <div class="flex flex-col text-four">
        <span class="font-extrabold text-4xl text-ten font-montserratblack"> </span>
      </div>
    </div>
    
    <Nav />
  </div>
</header>
 
