<section class="p-8 px-16 pb-8 md:p-8 gap-4 bg-one">
  <h3 class="font-montserratbold text-3xl text-eight my-12 text-center">Principios</h3>

  <article
    class="grid grid-flow-row grid-cols-1 md:grid-cols-1 gap-12 md:px-16 md:pb-8"
  >
    <section class="">
      <img
        src="/images/environment.webp"
        alt="Cuidamos el medio ambiente"
        class="img rounded-full size-[90px] md:size-[250px] 
        border-one 
        border-8 float-left"
        decoding="async"
        loading="lazy"
      />

      <h4 class="text-2xl font-montserratbold my-4 text-right text-ten">Naturaleza</h4>
      <p class="font-light leading-8 bg-six text-one rounded-xl p-8">
        Industrias Mar y Sol elabora sus productos usandos ingredientes biodegradables,
        envases reciclables y prácticas de fabricación sostenibles para
        minimizar el impacto ambiental de sus operaciones.
      </p>
    </section>

    <section>
      <img
        src="/images/car.webp"
        alt="Productos para limpieza y mantenimiento de vehiculos Industrias Mar y Sol"
        class="img rounded-full size-[90px] md:size-[250px] 
        border-one 
        border-8 float-left"
        decoding="async"
        loading="lazy"
      />
      <h4 class="text-2xl font-montserratbold my-4 text-right text-ten ">Comunidad</h4>
      <p class="font-light leading-8 bg-six text-one rounded-xl p-8">
        El compromiso de Industrias Mar y Sol con la comunidad se refleja en su esfuerzo por generar empleo, impulsar el desarrollo económico y mejorar la calidad de vida de los ciudadanos. Al crear oportunidades laborales, la empresa no solo contribuye al bienestar de las personas, sino que también fortalece el tejido social y económico de la región.
      </p>
    </section>
 
  </article>
</section>

<style>
  .img {
    shape-outside: circle(50%);
    margin-right: 3rem;
    margin-left: 1rem; 
    margin-top: 1rem
  }
</style>
