<section
    class="bg-one grid grid-flow-row grid-cols-1 md:grid-cols-2 px-4 py-10 md:p-10 gap-2 items-center"
  >
    <p class="px-8">
      <img
        src="/industriasmarysol/images/team.webp"
        alt="Equipo Industrias Mar y Sol S.A."
        class="rounded-lg w-full"
        decoding="async"
        loading="lazy"
      />
    </p>
    <p class="px-8 pt-8 leading-8 text-two text-md font-montserratlightitalic">
      Nuestro equipo está comprometido con la excelencia de nuestros productos.
    </p>
  </section>