.category{ 
    color: var(--text-primary);
    background-color: var(--primary);
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 9px;
}

.category-columns{
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.category-columns > div {
	width: 50%;
	padding: 10px; 
    font-size: 1rem;
}

.group-wrap-institutional   {
    
}